# Python
python-dotenv==1.0.1
pandas==2.2.1
pydantic==2.10.3
python-multipart==0.0.19

# Text processors
pymupdf==1.24.12

# Embeddings
sentence-transformers==3.3.1
langchain-huggingface==0.1.2

# Vectorstores
redis==5.0.5
faiss-cpu==1.9.0

# LLM
tiktoken==0.8.0
langchain==0.3.10
langchain-community==0.3.10
langchain-text-splitters==0.3.2
#langchain-experimental==0.0.56

# OpenAI
langchain-openai==0.2.11
openai==1.57.0

# Google
langchain_google_genai==2.0.5

# Back-end
fastapi==0.105.0
uvicorn==0.24.0

# Front-end
streamlit==1.29.0
#st-theme==1.2.3